@mixin flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin examples {
  @include reset;
  @include flex-center;

  .examples {
    margin-bottom: 10px;
  }
}
